/node_modules
/old
leadsheet.html
test/data.json
test/log_0.txt
test/log.txt
test/data.json
test/data.json
test/data.json
log.txt
test/pars.txt
out.txt
test/pars.txt
test/vex.txt
test/pars.txt
pars.txt
