<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description"
        content="Vextab is a JavaScript library for rendering standard music notation and guitar tab.">
    <meta charset="UTF-8" />
    <link href='https://fonts.googleapis.com/css?family=Barlow|Tangerine' rel='stylesheet' type='text/css'>
    <link href="https://www.vexflow.com/style.css" media="screen" rel="Stylesheet" type="text/css" />
    <!-- Support Sources -->
    <script src="https://unpkg.com/vextab/releases/div.prod.js"></script>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script type="module">
        import { createApp, reactive } from 'https://unpkg.com/petite-vue?module'
        const store = reactive({
            baseUrl: "http:localhost:3000/api/v1",
            fetchSheet(name) {
                console.log(`Petite to request Sheet: ${name} from server`)
                try {
                   fetch( `${this.baseUrl}/sheet/${name}`, 
                        { 
                            method: 'GET', 
                            headers: {
                                'Content-Type': 'application/json',
                            },
                        }
                   )
                   .then ( response => response.json() )
                   .then ( resData => { 
                        console.log(`fetchSheet RECEIVED: ${JSON.stringify(resData)}`)
                        this.sheet = resData.data 
                        console.log(`this.sheet IS NOW: ${JSON.stringify(this.sheet)}`)
                   }).catch(err => {
                        console.log(err)
                   })
                }
                catch (err) { console.log(err) }
            },
            async fetchMenu() {
                console.log(`Petite to request Menu from server`)
                try {
                    const response = await fetch(`${this.baseUrl}/menu`, {method: 'GET'})
                    console.log(`fetchMenu: ${JSON.stringify(response.data)}`)
                    this.menu = await response.json()
                }
                catch (err) { console.log(err) }
            },
            menu:  [
                {"menuItem":"Angie.txt","menuRef":"Angie"},
                {"menuItem":"BornByTheRiver.txt","menuRef":"BornByTheRiver"},
                {"menuItem":"Default.txt","menuRef":"Default"}
            ],
            name:  'Default',
            sheet: {
                    header: { 
                        title: 'unknown', 
                        author: 'Unknown', 
                        tempo: '120', 
                        meter: {counter: 3, denominator: 4},
                        form: ['1','2','3']
                    },
                    sections: new Map(
                        [ 
                            ['Unknown',[
                                'options font-size=14 space=15, width=860',
                                'tabstave notation=true tablature=false time=4/4 clef=percussion',
                                'notes :1S B/4 $.top.E$ | :1S B/4 | :4S B/4 $Gsus4$ :4S B/4 $G$ :4S B/4 $Fsus4$ :4S B/4 $F$| :4S B/4 :2Sd B/4  |',
                                'text .11,:1, Angie, A-Angie,when will those clouds all dissa-, |, per',
                                'options space=15'
                                ]
                            ]    
                        ]  
                    )
                },
            /*sheet.sections.set('Unknown',[
                            'options font-size=14 space=15, width=860',
                            'tabstave notation=true tablature=false time=4/4 clef=percussion',
                            'notes :1S B/4 $.top.E$ | :1S B/4 | :4S B/4 $Gsus4$ :4S B/4 $G$ :4S B/4 $Fsus4$ :4S B/4 $F$| :4S B/4 :2Sd B/4  |',
                            'text .11,:1, Angie, A-Angie,when will those clouds all dissa-, |, per',
                            'options space=15'
                            ]   
                        ),
                */ 
            isMounted: 'unmounted',
            mounted() { this.isMounted= 'mounted' },
        })
        createApp( { 
            store,  
            inc() {
                this.store.count++
                },
            mounted() {
                this.inc()
            },
            count: 1  
        } ).mount("#testCounter")
        createApp({ store }).mount("#sidebar-nav")
        createApp({ store }).mount("#pttHeader")
        createApp({ store }).mount("#pttSections")
    </script>
    <!--Style CSS-->
    <style>
        p.vexform {
            font-size: 24px;
            margin: 10px;
            padding: 2px;
            color: black;
        }

        .vexformentry {
            font-style: italic;
            font-size: 20px;
            margin: 10px;
            padding: 2px;
            color: black;
        }

        body {
            margin-top: 100px;
            margin-bottom: 100px;
            margin-right: 100px;
            margin-left: 10px;
        }

        ul.no-bullets {
            list-style-type: none; /* Remove bullets */
            padding: 0; /* Remove padding */
            margin: 0; /* Remove margins */
        }
        [v-cloak] { display: none; }
    </style>
    <title>LeadSheet</title>
</head>


<body>
<div id="petiteVue">
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <style>
        #sidebar-nav {
            width: 160px;
        }
    </style>
    <!-- div  id="testCounter" @vue:mounted="mounted">
        <p>{{ store.count }}</p>
        <button @click="inc">increment</button>
    </div -->
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto px-0">
                <div id="sidebar" 
                    class="collapse 
                    collapse-horizontal 
                    show border-end">
                    <div id="sidebar-nav" 
                         class="list-group 
                         border-0 
                         rounded-0 text-sm-start 
                         min-vh-100"
                         @store:isMounted="mounted">
                         <ul class="no-bullets"  >
                            <li  v-for="item in store.menu">
                                <button @click="store.fetchSheet(item.menuRef)" 
                                    class="list-group-item 
                                    border-end-0 
                                    d-inline-block 
                                    text-truncate" 
                                    data-bs-parent="#sidebar">
                                        <i class="bi bi-music-note-list"></i> 
                                        <span>{{item.menuRef}}</span> 
                                </button>
                            </li>
                         </ul>
                        
                    </div>
                </div>
            </div>
            <main class="col ps-md-2 pt-2">
                <a href="#" data-bs-target="#sidebar" data-bs-toggle="collapse"
                    class="border rounded-3 p-1 text-decoration-none"><i class="bi bi-list bi-lg py-2 p-1"></i> Menu</a>
                <div v-cloak id="pttHeader" class="page-header pt-3"   @store:mounted="mounted">
                    <h3>Title: {{store.sheet.header.title}}</h3>
                    <h3>Author: {{store.sheet.header.author}}</h3>
                    <h3>Key    : {{store.sheet.header.Key ?? ''}}</h3>
                    <h3>Meter  : {{store.sheet.header.meter.counter}}/{{store.sheet.header.meter.denominator}}</h3>
                    <h3>Tempo  : {{store.sheet.header.meter.tempo}} </h3>  
                    <h3>Form: {{store.sheet.header.form.join(',')}}</h3>  
                </div>
                <div  id="pttSections" v-for="[section, vexStaffs] in store.sheet.sections">
                    <div class="row">
                        <div class="col-12">
                            <p>{{section}}</p>
                        </div>
                        <div  class="row">
                            <div  class="col-12 vexbody">
                                {{vexStaffs}}
                            </div>
                        </div>
                    </div>
            </div>
            </main>
        </div>
    </div>
    </div>
</body>
</html>